@{
    ViewData["Tytul"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona o tematyce gier komputerowych</h1>
    <h3 class="display-4">Rozejrzyj się po zakładkach</h3>
</div>
