@model List<string>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Galeria";
}

<div class="text-center">
    <form action="@Url.Action("Upload", "Blob")" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" id="file" />
        
            <input type="submit" value="Wyślij"  class="btn btn-primary" />
        </div>
    </form><br />
    <table class="table-custom justify-content-center">
        @foreach (var name in Model)
        {
            <div class="container">
            <img class="img-custom"  style="width:100%;" src="@Url.Action("Display", "Blob", new { name = name })">
                <div class="top-right">
            <form class="form-custom" method="post" action="@Url.Action("Delete", "Blob")">
                <input type="hidden" name="name" value="@name" />
                        <input style="background-color:transparent;border:0px;" type="submit" value="╳" onclick="return confirm('Czy napewno chcesz usunąć zdjęcie?');"/>
            </form>
            </div>
            </div>
            
        }
    </table>
</div>
               